<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="FACTURATION_PRO_API_URL" value="https://www.facturation.pro"></env>
        <env name="FACTURATION_PRO_API_ID" value=""></env>
        <env name="FACTURATION_PRO_API_KEY" value=""></env>
        <env name="FACTURATION_PRO_API_FIRM" value=""></env>
        <env name="FACTURATION_PRO_API_USER_AGENT" value=""></env>
    </php>
</phpunit>
